USE [master]
GO
/****** Object:  Database [Sistema]    Script Date: 26/8/2022 20:51:44 ******/
CREATE DATABASE [Sistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistema', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Sistema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistema_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Sistema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistema]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 26/8/2022 20:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_DNI] [int] NULL,
	[EMP_APE] [varchar](50) NULL,
	[EMP_NOM] [varchar](50) NULL,
	[EMP_DIR] [varchar](50) NULL,
	[EMP_SEC_ID] [int] NULL,
	[EMP_DAT_NAC] [datetime] NULL,
	[EMP_CRE_DAT] [datetime] NULL,
	[EMP_CRE_ID] [int] NULL,
	[EMP_BAJ_DAT] [datetime] NULL,
	[EMP_BAJ_ID] [int] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fichadas]    Script Date: 26/8/2022 20:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fichadas](
	[FIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIC_EMP_ID] [int] NULL,
	[FIC_DAT] [datetime] NULL,
	[FIC_BAJ_DAT] [datetime] NULL,
	[FIC_BAJ_USR] [datetime] NULL,
 CONSTRAINT [PK_Fichadas] PRIMARY KEY CLUSTERED 
(
	[FIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 26/8/2022 20:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PAIS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAIS_NOM] [varchar](50) NOT NULL,
	[PAIS_CRE_DAT] [datetime] NOT NULL,
	[PAIS_CRE_ID] [int] NOT NULL,
	[PAIS_BAJ_DAT] [datetime] NULL,
	[PAIS_BAJ_ID] [nchar](10) NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[PAIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sectores]    Script Date: 26/8/2022 20:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sectores](
	[SEC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEC_NOM] [varchar](50) NOT NULL,
	[SEC_CRE_DAT] [datetime] NOT NULL,
	[SEC_CRE_ID] [int] NOT NULL,
	[SEC_BAJ_DAT] [datetime] NULL,
	[SEC_BAJ_ID] [int] NULL,
 CONSTRAINT [PK_Sectores] PRIMARY KEY CLUSTERED 
(
	[SEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/8/2022 20:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[USR_ID] [int] IDENTITY(1,1) NOT NULL,
	[USR_NIC] [varchar](50) NOT NULL,
	[USR_APE] [varchar](50) NOT NULL,
	[USR_NOM] [varchar](50) NOT NULL,
	[USR_PAS] [varchar](50) NOT NULL,
	[USR_CRE_DAT] [datetime] NOT NULL,
	[USR_CRE_ID] [int] NOT NULL,
	[USR_BAJ_DAT] [datetime] NULL,
	[USR_BAJ_ID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Sectores] FOREIGN KEY([EMP_SEC_ID])
REFERENCES [dbo].[Sectores] ([SEC_ID])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Sectores]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Usuarios] FOREIGN KEY([EMP_CRE_ID])
REFERENCES [dbo].[Usuarios] ([USR_ID])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Usuarios]
GO
ALTER TABLE [dbo].[Fichadas]  WITH CHECK ADD  CONSTRAINT [FK_Fichadas_Empleados] FOREIGN KEY([FIC_EMP_ID])
REFERENCES [dbo].[Empleados] ([EMP_ID])
GO
ALTER TABLE [dbo].[Fichadas] CHECK CONSTRAINT [FK_Fichadas_Empleados]
GO
ALTER TABLE [dbo].[Pais]  WITH CHECK ADD  CONSTRAINT [FK_Pais_Usuarios] FOREIGN KEY([PAIS_CRE_ID])
REFERENCES [dbo].[Usuarios] ([USR_ID])
GO
ALTER TABLE [dbo].[Pais] CHECK CONSTRAINT [FK_Pais_Usuarios]
GO
ALTER TABLE [dbo].[Sectores]  WITH CHECK ADD  CONSTRAINT [FK_Sectores_Usuarios] FOREIGN KEY([SEC_CRE_ID])
REFERENCES [dbo].[Usuarios] ([USR_ID])
GO
ALTER TABLE [dbo].[Sectores] CHECK CONSTRAINT [FK_Sectores_Usuarios]
GO
USE [master]
GO
